{% extends "base.html" %}

{% block title %}Ваша корзина покупок{% endblock %}

{% block content %}
    {% if show_message %}
        <script>
            showAddToCartMessage();
        </script>
    {% endif %}
    {% for item in cart %}
        <li>
            <a href="{% url 'products:product_detail' item.product.slug %}">
                {{ item.product.name }}
            </a>
            ({{ item.quantity }}) - {{ item.total_price }}
        </li>
        <form action="{%url 'cart:cart_remove' item.product.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Удалить</button>
        </form>
        {% empty %}
            <li>В корзине пусто.</li>
    {% endfor %}
    <p>Общая стоимость: {{ cart.get_total_price }} ₽</p>
    <a href="{% url 'products:product_list' %}">Продолжить покупки</a>
{% endblock %}