{% extends "base.html" %}

{% block title %}Ваша корзина покупок{% endblock %}

{% block content %}
<table>
        <thead>
            <tr>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Общее количество</th>
                <th>Действие</th>
            </tr>
        </thead>
        <tbody>
            {% for item in cart %}
                <li>
                    {{ item.product.name }} ({{ item.quantity }}) - {{ item.total_price }}
                </li>
                {% empty %}
                    <li>В корзине пусто.</li>
            {% endfor %}
        </tbody>
    </table>
    <p>Общая стоимость: {{ cart.get_total_price }} ₽</p>
    <a href="{% url 'products:product_list' %}">Продолжить покупки</a>
{% endblock %}