{% extends "base.html" %}
{% load static %}

{% block title %}Список товаров{% endblock %}

{% block content %}
    <div class="container">
        {% if category %}
        <h2>Товары в категории: {{ category.name }}</h2>
        {% endif %}
            <nav>
                <ul class="category-list">
                    <li><a href="{% url 'products:product_list' %}">Все категории</a></li>
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'products:product_list_by_category' category.slug %}">
                                {{ category.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>

        {% if products %}
            <div class="product-list">
                {% for product in products %}
                <a href="{% url 'products:product_detail' product.slug %}">
                    <div class="product-card">
                        <div class="product-image">
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img src="{% static 'img/default.png' %}" alt="No image available">
                            {% endif %}
                        </div>
                        <div class="product-info">
                            <h2 class="product-name">{{ product.name }}</h2>
                            <p class="product-price">{{ product.price }} ₽</p>
                        </div>
                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                            {% csrf_token %}

                            <button class="add-to-cart-button" type="submit">Добавить в корзину</button>
                        </form>
                    </div>
                </a>
                {% endfor %}
            </div>

        {% else %}
            <p>Нет товаров{% if category %} в данной категории{% endif %}.</p>
        {% endif %}
    </div>

{% endblock %}